<section class="dashboard">
  <div class="wrapper">
    <a href="https://www.spotify.com/us/"
       target="_blank">
       <div class="spotify-banner">
      <img src="../../../assets/img/banner.png"
           alt="Spotify banner">
    </div>
    </a>
    <div *ngIf="releases">
        <app-cards-group [data]="releases">New Releases</app-cards-group>
    </div>
    <div *ngIf="playlist">
      <app-cards-group [data]="playlist">Playlists</app-cards-group>
    </div>
    <div *ngIf="categories">
       <app-cards-group [data]="categories">Categories</app-cards-group>
    </div>
  </div>
</section>
