<section class="dashboard">
  <div class="wrapper">
    <a href="https://www.spotify.com/us/"
       target="_blank">
       <div class="spotify-banner">
      <img src="../../../assets/img/banner.png"
           alt="Spotify banner">
    </div>
    </a>
    <h2>New Releases</h2>
    <div class="flex-wrapper">
      <app-music-card *ngFor="let item of releases | slice:0:6" [item]="item"></app-music-card>
    </div>
    <h2>Playlists</h2>
    <div class="flex-wrapper">
      <app-music-card *ngFor="let data of playlist | slice:0:6" [item]="data"></app-music-card>
    </div>
    <h2>Categories</h2>
    <div class="flex-wrapper">
      <app-music-card *ngFor="let item of categories | slice:0:6" [item]="item"></app-music-card>
    </div>


  </div>
</section>
