:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  max-width: 175px;
  padding: 0 2px;
  margin: 0 0 15px 0;
}


.music-card {
  background: #ffffff;
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
  border-radius: 2px;
}

.music-card:hover .preview-overlay-container {
  opacity: 1;
}

.img-wrapper {
  position: relative;
  margin-bottom: 5px;
  height: 175px;
  width: 175px;
  overflow: hidden;
}

.preview-overlay-container {
  display: block;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  opacity: 0;
  transition: all .25s ease;
  background: rgba(0, 0, 0, .4);
  cursor: pointer;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.playlist-count {
  color: #fa8200;
}

.playlist-count span {
  color: #737373;
}

.artist-information, .release-information, .playlist-information {
  padding: 0 5px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-grow: 2;
  justify-content: space-between;
}

.artist-name, .playlist-name, .categories-name {
  color: #737373;
  font-weight: 500;
  line-height: 18px;
  font-size: 18px;
  text-decoration: none;
}

.categories-name {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.artist-name:hover {
  text-decoration: underline;
}

.release-name {
  color: #cccccc;
  line-height: 18px;
  padding: 4px 0;
}

.artists-name {
  margin-bottom: 5px;
}

.genres {
  margin-top: 1em;
}

.genres-identifier {
  margin-right: 5px;
  color: #616161;
}

.album-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.albbum-type {
  padding: 4px;
  border-radius: 5px;
  font-size: 12px;
  background: #ef6c00;
  color: #fff;
}

.genres-item {
  display: inline-block;
  padding: 4px;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: 10px;
  background: #fa8200;
  margin-right: 6px;
  color: #fff;
}

.card-action {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  padding: .5em 0;
}

.followers {
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: 30px;
}

.followers::before {
  content: '';
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  background: url("../../../assets/img/followers.png") no-repeat;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.release-date {
  display: block;
  position: relative;
  font-size: 14px;
  color: #737373;
  cursor: pointer;
  padding-left: 30px;
}

.release-date::before {
  content: '';
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  background: url("../../../assets/img/calendar.png") no-repeat;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.spotify-listen {
  display: block;
  width: 24px;
  height: 24px;
  background: url("../../../assets/img/spotify.png") no-repeat;
}
