<section class="artists-container">
  <app-loader *ngIf="loading; else artist_list"></app-loader>
  <ng-template #artist_list>
    <div class="wrapper">
      <div class="flex-wrapper">
        <app-music-card *ngFor="let artist of artists | paginate: {itemsPerPage: 20,
                                                        currentPage: p,
                                                        id: id
                                                        }"
                        [item]="artist"></app-music-card>
      </div>
       <pagination-controls *ngIf="artists.length > 20;"
                            (pageChange)="p = $event"></pagination-controls>
      <span *ngIf="!artists.length" class="not-found-request">Unable to find anything on your request.</span>
    </div>
  </ng-template>
</section>

