<section class="music-container">
  <app-loader *ngIf="loading; else artist_list"></app-loader>
  <ng-template #artist_list>
    <div class="wrapper">
      <h2 *ngIf="message">{{message}}</h2>
      <div class="flex-wrapper">
        <app-music-card *ngFor="let dataItem of data |  paginate: {itemsPerPage: 18,
                                                        currentPage: p,
                                                        id: id
                                                        }"
                        [item]="dataItem" (onAddFavorite)="clickFavorite($event)"></app-music-card>
      </div>
       <pagination-controls *ngIf="data.length > 20;"
                            (pageChange)="p = $event"></pagination-controls>
      <span *ngIf="!data.length" class="not-found-request">Unable to find anything on your request.</span>
    </div>
  </ng-template>
</section>

