<div *ngIf="loading" class="search-status"><p>Enter for result music</p></div>
<section class="artists-container">
  <div class="wrapper">
    <ul *ngIf="!loading" class="artists-list">
        <li *ngFor="let artist of artists">
          <div class="img-wrapper">
            <img [src]="artist.images[0] ? artist.images[0].url : '../../../assets/img/music-bc.jpeg'"
                 [alt]="artist.name" [title]="artist.name">
            <span class="preview-overlay-container"></span>
          </div>
          <div class="artist-information">
            <p class="artist-name">{{artist.name}}</p>
            <div class="genres">
              <span *ngIf="artist.genres[0]" class="genres-identifier">genres:</span>
              <span class="genres-item" *ngFor="let genre of artist.genres | slice:0:2">{{genre}}</span>
            </div>
          </div>
          <div class="artist-action">
            <p class="followers" title="Followers">{{artist.followers.total}}</p>
            <a [href]="artist.external_urls.spotify" target="_blank" class="spotify-listen"></a>
          </div>
        </li>
    </ul>
  </div>
</section>

